body,html{
    font-family: fantasy;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,167,250,1) 0%, rgba(238,210,252,1) 82%);
    color:#ac26ef;
}
#snap{
    background-color: white;
    border-style: solid;
    border-color: #ac26ef;
    color:  #9325ca;
    border-width: 2px;
    margin-top: 10px;
    padding: 6px;
    font-size: 16px;
    font-family: fantasy;
}
#check{
    background-image:(#dea7fa,#eed2fc);
    border-style: solid;
    border-color: #ac26ef;
    color:  #9325ca;
    border-width: 2px;
    margin-top: 10px;
    padding: 6px;
    font-size: 16px;
    font-family: fantasy;  
}
#camera{
    border-color: #9325ca;
    border-radius: 0.01px;
    width: 350px;
    height: 350px;
}
.header{
    font-size: 45px;
    color:#9325ca;
}